<div *ngIf="showDialog" id="graph-dialog">
  <!-- Build graph button -->
  <button (click)="buildGraph()" id="build-graph-button">Build graph</button>

  <!-- Loading message -->
  <div *ngIf="isLoading">
    <span>Building graph...</span>
    <span
      >Time remaining
      {{ (artists.size - counter) / 10 | number : '1.0-0' }} seconds</span
    >
  </div>

  <!-- Error message -->
  <div *ngIf="error">
    There was an error building the graph. Please try again.
  </div>
</div>

<!-- Graph -->
<div id="spotify-network" #network></div>
