<div *ngIf="showDialog" id="dialog-background">
  <div id="dialog-container">
    <app-spotify-auth *ngIf="!isLoggedIn"></app-spotify-auth>

    <div *ngIf="isLoggedIn">
      <div id="graph-button-container" *ngIf="!(isLoading || error)">
        <!-- Build graph button -->
        <button
          (click)="buildGraph()"
          class="app-button"
          id="build-graph-button"
        >
          Build graph
        </button>

        <div id="logout-link" (click)="logoutOfSpotify()">
          Logout of Spotify
        </div>
      </div>

      <div *ngIf="isLoading || error" id="dialog-message">
        <!-- Loading message -->
        <div *ngIf="isLoading">
          Building graph... Time remaining
          {{ math.max(timeRemaining, 0) | number : '1.0-0' }}
          seconds
        </div>

        <!-- Error message -->
        <div *ngIf="!isLoading && error">
          There was an error building the graph. Please try again.
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Graph -->
<div id="spotify-network" #network></div>
