<div *ngIf="showDialog" id="dialog-background">
  <div id="dialog-container">
    <!-- Spotify auth component -->
    <app-spotify-auth *ngIf="!isLoggedIn"></app-spotify-auth>

    <!-- Graph dialog -->
    <div *ngIf="isLoggedIn">
      <!-- Pre graph build -->
      <div *ngIf="!graphLoading">
        <!-- Dialog content -->
        <div id="dialog-content">
          <div id="playlists-content" *ngIf="!playlistsLoading; else elseBlock">
            <!-- Playlist selection -->
            <label for="playlist-select">Choose a playlist:</label>
            <select
              [(ngModel)]="selectedPlaylistId"
              name="playlists"
              id="playlist-select"
            >
              <option value="default">Liked Songs</option>
              <option *ngFor="let playlist of playlists" [value]="playlist.id">
                {{ playlist.name }}
              </option>
            </select>
            <br />

            <!-- Build graph button -->
            <button
              (click)="buildGraph()"
              class="app-button"
              id="build-graph-button"
            >
              Build graph
            </button>
          </div>
          <ng-template #elseBlock>
            <!-- Loader -->
            <div class="loading-bar-spinner">
              <div id="graph-spinner" class="spinner-icon"></div>
            </div>
          </ng-template>

          <!-- Error message -->
          <span *ngIf="error">
            <br />
            There was an error building the graph. Please try again.
          </span>
        </div>
        <!-- Logout link -->
        <div id="logout-link" (click)="logoutOfSpotify()">
          Logout of Spotify
        </div>
      </div>

      <!-- Building graph -->
      <div *ngIf="graphLoading" id="dialog-content">
        <!-- Loading message -->
        <span *ngIf="graphLoading">
          Building graph... Time remaining
          {{ math.max(timeRemaining, 0) | number : '1.0-0' }}
          seconds
        </span>

        <!-- Error message -->
        <span *ngIf="error">
          <br />
          There was an error building the graph. Please try again.
        </span>
      </div>
    </div>
  </div>
</div>

<!-- Graph -->
<div id="spotify-network" #network></div>
