<div id="menu-bar-container">
  <input id="menu__toggle" type="checkbox" />
  <label class="menu__btn" for="menu__toggle">
    <span></span>
  </label>

  <div id="menu-contents">
    <h1>Spoti-graph</h1>
    <h2>About</h2>
    <p>
      Spoti-graph is a tool that generates a graph of the artists in your
      Spotify library.
    </p>
    <p>Nodes in the graph are the artists from your saved songs.</p>
    <p>
      If two artists are related (as determined by Spotify's listening
      statistics), they'll have an edge between them.
    </p>
    <p>
      Once the graph is drawn, you'll likely see artists from similar genres or
      communities clustered together.
    </p>
    <p>Sign in to Spotify to draw your unique graph!</p>
    <br />
    <p>
      Built by Alan Zhu. Check out the source code on
      <a
        href="https://github.com/alanzhu39/spotify-graph"
        target="_blank"
        rel="noopener noreferrer"
        >GitHub</a
      >.
    </p>
  </div>
</div>
